<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apertx.turret.sound" >
    <application
        android:icon="@drawable/ic_launcher"
        android:label="Turret Soundboard"
        android:theme="@android:style/Theme.Material.Light"
		android:resizeableActivity = "true">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		<activity android:name=".SettingsActivity"/>
		<activity android:name=".HelpActivity"/>
    </application>
</manifest>
